@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  /* background-color: #b5c5cf; */
  /* scroll-behavior: smooth; */
}

body,
html {
  /* width: 100%;
  height: 100%; */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
/* -------------------------------------body------------------------- */




.refurb-ct-page {
  margin-top: 0;
}
.refurb-ct-page-wrap {
  margin-top: 0;
}

.refurb-ct-main-heading {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  text-decoration: underline;
  margin-top: 0.8em;
  margin-bottom: 0.7em;
}

.refurb-ct-main-wrap {
  display: flex;
  justify-content: space-between;
  width: 90%;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.refurb-ct-main-box h2 {
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  line-height: 2rem;
  margin-bottom: 2rem;
}
.refurb-ct-main-box {
  width: 32%;
  text-align: center;
}

.refurb-ct-main-imgbox img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.refurb-ct-main-imgbox{
  position: relative;
}

.available{
  background-color: #59913d;
  color: white;
  /* width: 60%; */
  width: fit-content;
  text-align: center;
  padding: 0.1rem;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  top: 8%;
  left: -10.5%;
  transform: rotate(-45deg);
  /* margin-top: -15rem; */
  font-size: 1.7rem;
  position: absolute;
}

.refurb-ct-main-box h3 {
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
}

/* .refurb-ct-main-box a {
  display: block;
  width: 30%;
  height: 12%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  padding: 0em;
  text-align: center;
  align-self: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding-top: 0.6rem;
  padding-bottom: 0.8rem;
} */

.refurb-ct-main-box a {
  display: block;
  width: 40%;
  height: 6%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  text-align: center;
  align-self: center;
  font-size: 1.5rem;
  padding: 0.2em;
}

.refurb-ct-main-box a:hover {
  background-color: rgb(7, 80, 139);
}

/* _________________________________________Resposnive____________________________________________ */
@media (max-width: 768px) {
  .refurb-ct-main-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .refurb-ct-main-box {
    width: 80%;
  }
}
