@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  /* background-color: #b5c5cf; */
  /* scroll-behavior: smooth; */
}

body,
html {
  /* width: 100%;
  height: 100%; */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* -----------utility---section------------ */

/* -----------heading-----bar------- */

/* ------------about-hero------------------- */

.about-hero {
  height: auto;
}

.about-hero img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* ------------about---main-------------- */
.about-main {
  height: auto;
  margin-top: 2rem;
}

.about-main-wrap {
  display: flex;
  justify-content: space-between;
  width: 85%;
}
/* ---main-content-- */
.about-main-content {
  width: 48%;
}

.about-main-content h1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 3rem;
  font-weight: 600;
}

.about-main-content .about-main-para {
  padding-top: 0.1rem;
  padding-bottom: 0.2rem;
  font-size: 1.4rem;
  line-height: 2rem;
}

.about-main-content details {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.about-main-content details summary {
  background-color: #259ae1;
  padding: 1rem;
  padding-left: 0.3rem;
  font-size: 1.8rem;
}

.about-main-content details p {
  border: 1px solid black;
  font-size: 1.3rem;
  padding: 1.2rem;
  padding-left: 0.3rem;
}
/* --content-img-box-- */
.about-main-img-box {
  width: 48%;
}

.about-main-img-box-inner {
  /* padding: 5rem; */
  /* padding-top: 0.5rem; */
}

.about-main-img-box img {
  width: 100%;
  object-fit: cover;
}

/* ------------------------about-message-------------------------- */
.about-message {
  background-color: #dadada;
}

.about-message-heading {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  text-decoration: underline;
  margin-top: 0.8em;
  margin-bottom: 0.7em;
}

.about-message-wrap {
  display: flex;
  justify-content: space-between;
}

.director1-box {
  width: 48%;
  align-items: center;
  text-align: center;
}

.director2-box {
  width: 48%;
  align-items: center;
  text-align: center;
}

.about-message-img-box {
  height: auto;
}

.about-message-img-box img {
  object-fit: cover;
  border-radius: 5%;
  width: 62%;
}

.director-name {
  padding: 1.5rem 0rem;
  font-size: 1.7rem;
}

.director-message {
  padding: 0rem 0rem 2rem 0rem;
  font-size: 1.3rem;
}

/* _________________________________________Resposnive____________________________________________ */
@media (max-width: 768px) {
  .about-hero {
    height: 30vh;
  }

  .about-hero img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .about-main-wrap {
    display: flex;
    flex-direction: column;
  }
  .about-main-content {
    width: 100%;
  }
  .about-main-img-box-inner {
    /* padding: 2rem;
    padding-top: 0.2rem; */
  }
  .about-main-img-box {
    width: 100%;
  }

  .about-message-wrap {
    display: flex;
    flex-direction: column;
  }
  .director1-box {
    width: 100%;
  }
  .director2-box {
    width: 100%;
  }
}
