@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  /* background-color: #b5c5cf; */
  /* scroll-behavior: smooth; */
}

body,
html {
  /* width: 100%;
  height: 100%; */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* -- -------------contact-form-&---address-----------------  */
.contact-area-wrap {
  display: flex;
  /* justify-content: space-between; */
  width: 85%;
}

.contact-address {
  width: 48%;
  margin-left: 3rem;
}
.contact-address-heading {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 2rem;
}

.contact-address-icon {
  font-size: 4rem;
  line-height: 0.8rem;
  padding: 2px;
  /* background: #accfc0; */
  color: #259ae1;
  margin-right: 5px;
  /* margin-bottom: 10px !important;
  padding-bottom: 10px !important; */
}

.inline-p {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.address-85 {
  width: 83%;
  font-size: 1.3rem;
  font-weight: 500;
}
.address-15 {
  width: 13%;
}
/* -------form----------  */
.contact-form {
  width: 48%;
}
.contact-form {
  width: 48%;
}

.contact-form-heading {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 2rem;
}

.form {
  height: auto;
  font-size: 1.6rem;
  background: #fff;
  padding: 1rem;
}

.form label {
  display: block;
}

.form input {
  padding: 0.5rem;
  width: 100%;
  margin-top: 1rem;
}

.form .form-group {
  margin-bottom: 1rem;
}

.form .required-label::after {
  content: "* ";
  color: #e63946;
}

.form textarea {
  width: 100%;
  height: 100px;
  padding: 0.2rem;
  margin-top: 1rem;
  margin-bottom: 1.3rem;
}

.enquiry-label input {
  width:100%;
  height:100%;
  padding-bottom: 14rem;
  margin-top: 1rem;
  margin-bottom: 1.3rem;
}


.form-btn {
  display: block;
  margin: 0;
  padding: 0.5em 3em;
  font-size: 1.8rem;
  text-transform: uppercase;
  background: #259ae1;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
}

/* ---map--- */

.contact-map-box {
  text-align: center;
  /* width: 50vw; */
  height: 50vh;
}
.contact-map-box iframe {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin: auto;
}
/* _________________________________________Resposnive____________________________________________ */
@media (max-width: 768px) {
  .contact-area-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-address {
    width: 100%;
  }
  .contact-form {
    width: 100%;
  }
}



/* feebcak section embed  */

.feedback {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback-box{

  width:85%;
  height:500px;
}

@media (max-width:500px) {
  .feedback-box{

    width:100%;
    height:500px;
  }
  
}